.jsx-section {
  padding: 20px 15px;
  .jsx-info {
    color: #286090;
  }
}

.react-section {
  .section-label {
    margin: 0 0 20px 0;
  }
}
.life-cycle-section {
  padding-top: 20px;
  .section-label {
    margin: 0 0 20px 0;
  }
}
.react-font-icon {
	height: 14px;
	width: 14px;
}
.documentation-info {
	padding-left: 40px;
  a {
    cursor: pointer;
  }
}

.course-wrapper {
  border: 1px solid #ccc;
  padding: 15px;
  label {
    width: 100px;
  }
}
.event-section {
  label {
    width: 100px;
  }
  input {
    margin-right: 15px;
  }
}
.form-info {
  .userinfo-header{
    margin-bottom: 10px;
  }
  .userinfo-content {
    height:100px;
  }
  .userinfo-label {
    width: 100px;
    font-weight: bold;
  }
}
.code-info-section {
  position: absolute;
  right: 0;
  height: 40px;
  padding: 10px;
  width: 450px;
  text-align: center;
  background: rgb(92,92,92);
  color: #fff;
}
.prop-state-section {
  .btn-change {
    padding: 0;
  }
}